<div class="itinerary-form-container">
  <h2>{{ isEdit ? 'Editar Itinerario' : 'Nuevo Itinerario' }}</h2>

  <form (ngSubmit)="save()" #itineraryForm="ngForm">
    <label for="name">Nombre:</label>
    <input type="text" id="name" [(ngModel)]="itinerary.name" name="name" required #name="ngModel" />
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
      <span *ngIf="name.errors?.['required']">El nombre es obligatorio.</span>
    </div>

    <label for="startDate">Fecha de inicio:</label>
    <input type="date" id="startDate" [(ngModel)]="itinerary.startDate" name="startDate" required #startDate="ngModel" />
    <div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)" class="error">
      <span *ngIf="startDate.errors?.['required']">La fecha de inicio es obligatoria.</span>
    </div>

    <label for="endDate">Fecha de fin:</label>
    <input type="date" id="endDate" [(ngModel)]="itinerary.endDate" name="endDate" required #endDate="ngModel" />
    <div *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)" class="error">
      <span *ngIf="endDate.errors?.['required']">La fecha de fin es obligatoria.</span>
    </div>
    <div *ngIf="itinerary.endDate && itinerary.startDate && itinerary.endDate < itinerary.startDate" class="error">
      La fecha de fin debe ser posterior a la de inicio.
    </div>

    <label for="image">Imagen:</label>
    <div class="image-upload-wrapper">
      <label class="custom-file-label">
        <input type="file" id="image" (change)="onImageSelected($event)" accept="image/*" />
        <span>
          <span class="material-icons" style="vertical-align:middle;font-size:20px;">image</span>
          {{ imageFile?.name || 'Seleccionar imagen...' }}
        </span>
      </label>
      <span class="itinerary-img-span" *ngIf="itinerary.image">
        <img
          [src]="itinerary.image && itinerary.image.startsWith('img_') ? 'http://localhost:8888/api/itineraries/imagen/' + itinerary.image : itinerary.image"
        />
        <button type="button" class="delete-img-btn" (click)="removeImage()">
          <span class="material-icons" style="font-size:18px;vertical-align:-4px;">delete</span> Quitar imagen
        </button>
      </span>
    </div>

    <div class="form-actions">
      <button type="submit"
        [disabled]="itineraryForm.invalid || (itinerary.endDate && itinerary.startDate && itinerary.endDate < itinerary.startDate)">
        <span class="material-icons" style="font-size:18px;vertical-align:-3px;">
          {{ isEdit ? 'edit' : 'add' }}
        </span>
        {{ isEdit ? 'Actualizar' : 'Crear' }}
      </button>
      <button type="button" class="cancel" (click)="cancel()">
        <span class="material-icons" aria-hidden="true" style="font-size:18px;vertical-align:-3px;">arrow_back</span>
        Cancelar
      </button>
    </div>
  </form>
</div>
