<div class="get-started-container">
  <div class="intro-text">
    <h1>Bienvenido a <span>TravelMind</span></h1>
    <p>Descubre una nueva forma de <strong>planificar tus viajes</strong> con facilidad y estilo.</p>
    <p><strong>Explora</strong> itinerarios de otros usuarios, <strong>organiza</strong> tus destinos y lleva el</p>
    <p>control total de tus aventuras desde un solo lugar.</p>

    <div class="buttons">
      <button (click)="register()">Registrarse</button>
      <button (click)="login()">Iniciar Sesión</button>
    </div>
  </div>

  <div class="intro-image">
    <img src="https://media.istockphoto.com/id/489525460/es/foto/pareja-de-luna-de-miel.jpg?s=612x612&w=0&k=20&c=zeTBb8PH5NjAw7zfPR3SuTZsl3XIHPT6bEiua80H9ak=" alt="Travel the world" />
  </div>
</div>
